<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShyftLabs - Development Technical Test</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/student">Student</a></li>
            <!-- Add links to Courses and Results if you implement optional requirements -->
            <!-- <li><a href="/Courses">Courses</a></li> -->
            <!-- <li><a href="/Results">Results</a></li> -->
        </ul>
    </nav>
    <h1>ShyftLabs - Development Technical Test</h1>
    <div>
        <h2>Welcome to the Home Page</h2>
        <p>This is the home page of ShyftLabs Development Technical Test. You can navigate to the Students page using the link in the navigation bar above.</p>
    </div>
</body>
</html>
